:root{
    --blue:#F2F7FF;
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

/* ------------Sampul Landing page------------ */

section{
    padding: 2rem 9%;
}

/*.Home {
    background-position: left;
}*/

/* ------------------------ */

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

/* ------------LOGO------------ */

header .logo{
    font-size: 3rem;
    color: black;
    font-weight: bolder;
    text-decoration: none;
}

header .logo span{
    color: #FDBE34;
}

/* -----------NAVBAR------------ */

header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #000000;
    text-decoration: none;
}

header .navbar a:hover{
    color: #FDBE34;
}

/* ------------ICONS------------ */

header .icons i{
    font-size: 2.5rem;
    color: #000000;
    margin-left: 1.5rem;
}

header .icons i:hover{
    color: #FDBE34;
}

header .icons .signup{
    padding: 8px 15px;
    background: #F2F7FF;
    border-radius: 30px;
    color: #000000;
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 15px;
    font-family: Inter;
    margin-bottom: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


header .icons .signup:hover{
    background-color: rgba(253, 190, 52, 0.80);
}

/* -------------ICONS------------ */

header #toggler{
    display: none;
}

/*  LIST (responsive) */
header .bi-list{
    font-size: 3rem;
    color: #000000;
    padding: .5rem 1.5rem;
    cursor: pointer;
    display: none;
}

/* ------------HOVER------------ */

.Home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(../photo/bground2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    text-decoration: none;
}

.Home .content{
    max-width: 80rem;
    text-align: left;
}

.Home .content h3{
    font-size: 28px;
    text-align: left;
    color: #fff;
    margin-bottom: 30px;
    font-family: Inter;
}

/* -------------HOVER------------ */

.ctn {  /* Report a Found Pet */
    padding: 8px 15px;
    background: #FDBE34;
    border-radius: 30px;
    color: #000000;
    text-decoration: none;
    font-size: 12px;
}

/* ----Jika Anda Menemukan Hewan Peliharaan ---- */

.Info .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.row .img{
    flex: 1 1 45rem;
    margin-top: 7.5%;
    border-radius: 100px 0px 100px 0px;
    position: relative;
    margin-right: 8%;
}

.Info .row .content{
    flex: 1 1 40rem;
} 


.Info .row .content h3{
    font-family: Inter;
    margin-top: 15%;
    font-size: 18px;
    text-align: left;
} 

.Info .row .content p{
    font-size: 12px;
    font-family: Inter;
    line-height: 1.6;
    text-align: left;
} 
/* ----Jika Anda Menemukan Hewan Peliharaan ---- */

/* -------------BUTTON FOUND------------ */

.btn {
    display: flex; /* Mengatur tampilan flex untuk card-container */
    justify-content: center; /* Mengatur card berada di tengah secara horizontal di dalam card-container */
    margin-top: 50px; /* Jarak atas sebesar piksel */
    margin-bottom: 30px; /* Jarak bawah sebesar piksel */
    font-family: Inter;
}

.btn .btn-group .btn-found{
    display: inline-flex;
    width: 950px;
    padding: 10px;
    justify-content: center; /* text berada ditengah */
    align-items: center;
    border-radius: 10px;
    background: #10316B;
    color: #ffffff;
    
}

/* -------------BUTTON FOUND------------ */

/*------------CARD------------- */
.card-container {
    display: flex; /* Mengatur tampilan flex untuk card-container */
    justify-content: center; /* Mengatur card berada di tengah secara horizontal di dalam card-container */
    margin-top: 50px; /* Jarak atas sebesar 10 piksel */
    margin-bottom: 30px; /* Jarak bawah sebesar 20 piksel */
}

.card {
    background: rgba(253, 190, 52, 0.80);
    width: 300px;
    margin: 10px;
    border: px solid #ccc;
    border-radius: 10px;
    display: flexbox;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: left;
    justify-content: center;
}

.card img {
    max-width: 100%;
    height: auto;
    border-top-left-radius: 10px; /* Sudut lengkung sudut atas kiri 20px */
    border-top-right-radius: 10px; /* Sudut lengkung sudut atas kanan 30px */
}

.card-content {
    padding: 10px;
}

.card-content p{
    margin: 5px;
    font-size: 12px;
    font-family: Inter;
}
/*------------CARD------------- */

/*------------CARD------------- */
.card-container2 {
    display: flex; /* Mengatur tampilan flex untuk card-container */
    justify-content: center; /* Mengatur card berada di tengah secara horizontal di dalam card-container */
    margin-top: 50px; /* Jarak atas sebesar 10 piksel */
    margin-bottom: 30px; /* Jarak bawah sebesar 20 piksel */
}

.card2 {
    background: rgba(253, 190, 52, 0.80);
    width: 300px;
    margin: 10px;
    border: px solid #ccc;
    border-radius: 10px;
    display: flexbox;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: left;
    justify-content: center;
    margin-bottom: 3%;

}

.card2 img {
    max-width: 100%;
    height: auto;
    border-top-left-radius: 10px; /* Sudut lengkung sudut atas kiri 20px */
    border-top-right-radius: 10px; /* Sudut lengkung sudut atas kanan 30px */
}

.card-content {
    padding: 10px;
}

.card-content p{
    margin: 5px;
    font-size: 12px;
    font-family: Inter;
}
/*------------CARD------------- */

/*------------ARTIKEL------------- */

.Artikel{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #F2F7FF;
    height: auto;
    width: 100vw;
    color: #fff;
}

.Artikel .row {
    display: flex;
}

.Artikel .row .articel{
    padding-top: 30px;
}

.Artikel .row .articel h3{
    font-size: 28px;
    text-align: left;
    margin-right: 70px;
    margin-left: 50px;
    color: #000000;
    margin-bottom: 30px;
    margin-top: 50px;
    line-height: 40px;
    font-family: Inter;
} 

.Artikel .row .articel .ctn { 
    padding: 8px 15px;
    background: #FDBE34;
    border-radius: 30px;
    color: #000000;
    text-decoration: none;
    font-size: 12px;
    margin-left: 50px;
    font-family: Inter;
}

.Artikel .row .img{
    position: relative;
    margin-right: 2%;
    margin-bottom: 4%;
}

.Artikel .row .img2{
    position: relative;
    margin: auto;
    margin-right: 5%;
}

/*------------ARTIKEL------------- */
/*------------ARTIKEL BAWAH------------- */

.judul .user-stories h3{
    font-size: 3rem;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 5%;
    font-family: Inter;
}

.cardb-container {
    display: flex; /* Mengatur tampilan flex untuk card-container */
    justify-content: center; /* Mengatur card berada di tengah secara horizontal di dalam card-container */
    margin-top: 5px; /* Jarak atas sebesar 10 piksel */
    margin-bottom: 30px; /* Jarak bawah sebesar 20 piksel */
}

.cardb {
    height: 150px;
    margin: 25px;
    border: px solid #ccc;
    border-radius: 5px;
    display: flexbox;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: left;
    justify-content: center;
}

.cardb img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.card-body {
    padding: 10px;
}

.card-body p{
    margin: 5px;
    font-size: 14px;
    font-family: Inter;
}

.btn-foundpet .btn-foundp{ /*See More Button*/
        padding: 8px 15px;
        background: #FDBE34;
        border-radius: 30px;
        color: #000000;
        font-size: 12px;  
        margin-left: 80%;
        margin-bottom: 5%;
}
/*------------ARTIKEL BAWAH------------- */







/*------------FOOTER------------- */
.footer{
    margin: 0;
    padding: 0;
    bottom: 0;
    box-sizing: border-box;
    background: #10316B;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
    margin-top: 15%;
}

.footer .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer .footer-content h3{
    font-size: 2rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer .footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 12px;

}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
}

.footer-bottom {
    background: #10316B;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 10px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .6;
    font-weight: 200;
}
/*------------FOOTER------------- */











/* media queries (Responsive) */
@media (max-width:991px) {
    html{
        font-size: 55%;
    }

    header{
        padding: 2rem;
    }
}

@media (max-width:768px){
    header .bi-list{
        display: block;
    }

    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #fff;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked ~ .navbar{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff ;
        border: .1rem solid rgba(0, 0, 0, .1);
        display: block;
    }

    @media (max-width:450px){
        html{
            font-size: 50%;
        }
    }

}